.Tours {
    width: 100vw;
    height: 850px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.49);
}

.tour-container {
    width: 250px;
    height: 325px;
    padding: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.49);
}

.individual-tour {
    width: 225px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tours-list {
    width: 1100px;
    height: 850px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    z-index: 2;
}

.tour-images {
    width: 1100px;
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    top: 37px;
    z-index: 2;
}

.images-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-paris {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}

.full-paris {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}

.inclusive-paris {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}

.basic-italy {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}

.full-italy {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}

.inclusive-italy {
    width: 276px;
    height: 200px;
    border-radius: 5px;
}


.tour-btn {
    width: 100px;
    margin-top: 107px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(231, 231, 231);
    transition: all 0.4s ease;
    z-index: 3;
}

.tour-btn:hover {
    cursor: pointer;
    background-color: white;
}

.tour-title {
    font-size: 19.5px;
    font-weight: 500;
    padding-bottom: 4px;
}

.tour-price {
    font-size: 27px;
}

.tour-summary {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 25px;
}

.description-container {
    width: 450px;
    height: 200px;
    padding: 13px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    box-shadow: 0px 0px 16px -5px rgba(0,0,0,0.49);
}

.individual-description {
    width: 400px;
    height: 100%;
}

.description-list {
    width: 1100px;
    height: 950px;
    position: absolute;
    top: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.description-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

@media (max-width: 996px) {
    .Tours {
        height: 1200px;
    }

    .tour-images {
        width: 800px;
        height: 1100px;
        margin-top: 11px;
    }

    .tours-list {
        width: 800px;
        height: 1100px;
        margin-top: 40px;
    }

    .description-list {
        width: 900px;
        top: 1350px;
    }

    .description-container {
        width: 300px;
        padding-bottom: 30px;
    }
}

@media (max-width: 756px) {
    .description-list {
        width: 600px;
        height: 1000px;
        top: 1350px;
    }

    .description-container {
        width: 250px;
        padding-bottom: 100px;
    }
}

@media (max-width: 667px) {
    .Tours {
        height: 2375px;
    }

    .tour-images {
        width: 300px;
        height: 2300px;
        margin-top: 19px;
    }

    .tours-list {
        width: 300px;
        height: 2300px;
        margin-top: 40px;
    }

    .description-list {
        width: 400px;
        height: 1600px;
        top: 2575px;
    }

    .description-container {
        width: 300px;
        padding-bottom: 30px;
    }
}
