.Nav {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-links {
    height: 8vh;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.cart-img {
    height: 35px;
    width: 35px;
    margin: 5px 0 6px 0;
    padding: 8px 9px;
}

.cart-img:hover {
    margin: 5px 0 6px 0;
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 10%;
}

.nav-home {
    margin: 5px 0 6px 0;
    padding: 8px 9px;
}

.nav-home:hover {
    margin: 5px 0 6px 0;
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 10%;
}

.nav-about {
    margin: 5px 0 6px 0;
    padding: 8px 9px;
}

.nav-about:hover {
    margin: 5px 0 6px 0;
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 10%;
}

.nav-contact {
    margin: 5px 0 6px 0;
    padding: 8px 9px;
}

.nav-contact:hover {
    margin: 5px 0 6px 0;
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 10%;
}
